@import url("https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&family=Sofadi+One&display=swap");
:root {
  --primary-color: #ffcd00;
  --secondary-color: #026e01;
  --primary-color-hover: #b49724;
  --secondary-color-hover: #175216;
  --secondary-font: Sofadi One;
  --outline: 2px solid red;
  --overlay: linear-gradient(rgb(41, 40, 40), rgb(22, 22, 22));
  font-family: SUSE;
}

/* NAVIGATION BAR COMPONENT */
.nav-bar {
  border: var(--outline);
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
}
.nav-bar img {
  height: 50px;
}
.nav-bar ul {
}
.nav-links {
}
.nav-links::after {
}
.nav-links a {
}
.nav-links a:hover {
}
